include ../../mixins/form
doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/ui.css")
		link(rel="stylesheet", type="text/css", href="/css/yw-editor.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/jquery-ui.min.js")
		script(type="text/javascript", src="/js/yellow_text.js")
		script(type="text/javascript", src="/js/dropzone.js")
		script(type="text/javascript", src="/js/doctopus.js")
		script(type="text/javascript", src="/js/jscolor/jscolor.js")
		script(type="text/javascript", src="/js/change-style.js")
		style(type="text/css", id="styling")

	body
	div#header 
		h1.header-title
			a(href="/")
				img(src="img/assets/logo.png")
	div#wrapper
		div#workfield-container
			div.notice
			div#blocks
				for block in blocks
					div(class='col-#{block.cols} block-#{block.type}', data-id='#{block.id}', data-colspan='#{block.cols}')
						div.block-actions
							ul
								li.move Move
								li.edit Edit
						if block.type == 'text'
							p.col-content #{block.content}
						if block.type == 'list'
							ul
								for item in block.content
									li= item


	div#sidebar-container
		div#block-definition.text-icn
			h2 Block options
		div#block-definition-bottomline
		div#option-wrapper
			div#selected-block
				div.standard-container	"No block selected"
				div.temp-hiding
					div.hidden-options
						div.type
						div.col
						div.block-id
					div.option-container 
						div.option-definition Block type
						div.option-definition Text
					div.option-container 
						div.option-definition Block size
						div.option-definition
							div.resize-block-container
								div.resize-block-btn-plus Change size +

						p Paragraph styling:
						mixin setpx('Font size:', 'p', 'font_size', style.p.font_size)
						mixin color('Color:', 'p', 'color', style.p.color)
						mixin select('Font family:', 'p', 'font_family', options.fonts, style.p.font_family)

						p List styling:
						mixin setpx('Font size:', 'ul', 'font_size', style.ul.font_size) 
						mixin color('Color:', 'ul', 'color', style.ul.color)
						mixin select('Font family:', 'ul', 'font_family', options.fonts, style.ul.font_family)
						mixin select('List style:', 'li', 'list_style_type', options.list_style_types, style.li.list_style_type)
			
			<a class="add_more_blocks_button" href="javascript:;" >&nbsp;</a>

		div#trashcan
			div#trashcan-explanation "Double click to activate"
		div#trashcan-topline