include ../../mixins/form
doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/ui.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/jquery-ui.min.js")
		script(type="text/javascript", src="/js/yellow_text.js")
		script(type="text/javascript", src="/js/doctopus.js")
		
		script(type="text/javascript", src="/js/change-style.js")
	body
	div#header 
		h1.header-title
			img(src="img/assets/logo.png")
			| DOCTOPUS
		<a class="add_more_blocks_button" href="javascript:;" >&#43;</a>
	div#wrapper
		div#workfield-container
			div#blocks
				div.empty-block.col-1
					div.plus_icon
				div.empty-block.col-1
					div.plus_icon

				for block in blocks
					div(class='col-#{block.cols} block-#{block.type}')
						if block.type == 'text'
							p.col-content #{block.content}
						if block.type == 'list'
							ul
								for item in block.content
									li= item
				div(style='clear:both')


	div#sidebar-container
		div#block-definition.text-icn
			h2 Text Block
		div#block-definition-bottomline
		div#option-wrapper
			div.option-container 
				div.option-definition Block type
				div.option-definition Text

			p Paragraph styling:
			mixin text_xs('Font size:', 'p', 'font_size', style.p.font_size) 
			| px
			mixin select('Color:', 'p', 'color', options.colors, style.p.color)
			mixin select('Font family:', 'p', 'font_family', options.fonts, style.p.font_family)
			mixin select('Font weight:', 'p', 'font_weight', options.weights, style.p.font_weight)

			p List styling:
			mixin text_xs('Font size:', 'ul', 'font_size', style.ul.font_size) 
			| px
			mixin select('Color:', 'ul', 'color', options.colors, style.ul.color)
			mixin select('Font family:', 'ul', 'font_family', options.fonts, style.ul.font_family)
			mixin select('Font weight:', 'ul', 'font_weight', options.weights, style.ul.font_weight)
			mixin select('Margin bottom:', 'li', 'margin_bottom', {'10px': '10px', '20px': '20px'}, style.li.margin_bottom)

		div#trashcan-container
		div#trashcan
			div#trashcan-explanation "Double click to activate"
		div#trashcan-topline