include ../../mixins/form
doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/ui.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/jquery-ui.min.js")
		script(type="text/javascript", src="/js/yellow_text.js")
		script(type="text/javascript", src="/js/doctopus.js")
		script(type="text/javascript", src="/js/document_functions.js")
		script(type="text/javascript", src="/js/change-style.js")
	body
	div#header 
		h1.header-title
			img(src="img/assets/logo.png")
			| DOCTOPUS
	div#wrapper
		div#workfield-container
			div#blocks
				div.empty-block.col-1
					div.plus_icon
				div.empty-block.col-1
					div.plus_icon

				for block in blocks
					div(class='col-#{block.cols} block-#{block.type}')
						if block.type == 'text'
							p.col-content #{block.content}
						if block.type == 'list'
							ul
							for item in block.content
								li= item
				div(style='clear:both')


	div#sidebar-container
		div#block-definition.text-icn
			h2 Text Block
		div#block-definition-bottomline
		div#option-wrapper
			div.option-container 
				div.option-definition Block type
				div.option-definition Text

			
			mixin text_xs('Font size:', 'p', 'font_size', style.font_size) 
			| px
			mixin select('Color:', 'p', 'color', options.colors, style.color)
			mixin select('Font family:', 'p', 'font_family', options.fonts, style.font_family)
			mixin select('Font weight:', 'p', 'font_weight', options.weights, style.font_weight)

			div.option-container
		div#trashcan-container
		div#trashcan
			div#trashcan-explanation "Double click to activate"
		div#trashcan-topline