include ../../mixins/form
doctype 5
html(ng-app)
	head
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/ui.css")
		link(rel="stylesheet", type="text/css", href="/custom.css")
		script(type="text/javascript", src="/js/jquery.min.js")
		script(type="text/javascript", src="/js/jquery-ui.min.js")
		script(type="text/javascript", src="/js/yellow_text.js")
		script(type="text/javascript", src="/js/doctopus.js")
		script(type="text/javascript", src="/js/jscolor/jscolor.js")
		script(type="text/javascript", src="/js/change-style.js")
	body
	div#header 
		h1.header-title
			img(src="img/assets/logo.png")
			//| DOCTOPUS
		<a class="add_more_blocks_button" href="javascript:;" >&nbsp;</a>
	div#wrapper
		div#workfield-container
			div#blocks
				div.empty-block.col-1
					div.plus_icon
				div.empty-block.col-1
					div.plus_icon

				for block in blocks
					div(class='col-#{block.cols} block-#{block.type}')
						if block.type == 'text'
							p.col-content #{block.content}
						if block.type == 'list'
							ul
								for item in block.content
									li= item


	div#sidebar-container
		div#block-definition.text-icn
			h2 Text Block
		div#block-definition-bottomline
		div#option-wrapper
			div.option-container 
				div.option-definition Block type
				div.option-definition Text

			p Paragraph styling:
			mixin text_xs('Font size:', 'p', 'font_size', style.p.font_size)
			mixin select('Color:', 'p', 'color', options.colors, style.p.color)
			mixin select('Font family:', 'p', 'font_family', options.fonts, style.p.font_family)
			mixin color('Color:', 'p', 'color', style.p.color)

			p List styling:
			mixin text_xs('Font size:', 'ul', 'font_size', style.ul.font_size) 
			mixin select('Color:', 'ul', 'color', options.colors, style.ul.color)
			mixin select('Font family:', 'ul', 'font_family', options.fonts, style.ul.font_family)

		div#trashcan-container
		div#trashcan
			div#trashcan-explanation "Double click to activate"
		div#trashcan-topline